@font-face {
    font-family:'Poppins-Black' ;
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family:'Poppins-BlackItalic' ;
    src: url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-Bold' ;
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-BoldItalic' ;
    src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-ExtraBold' ;
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-ExtraBoldItalic' ;
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-Light' ;
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-Medium' ;
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family:'Poppins-SemiBold' ;
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}